<div class="nk-footer">
    <div class="container-fluid">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright">
                &copy; 2026 Fraud Detection System | Final Year Project
            </div>
            <div class="nk-footer-links">
                <ul class="nav nav-sm">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-base">Help</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-base">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
